<footer class="text-center text-gray-400 mt-10 h-20" >
  <div class="flex justify-center space-x-24">
    <div class="flex flex-col space-y-7">
      <a href="https://github.com/sponsors/MarkAguirre26" class="text-gray-300 hover:text-white">Donate</a>
    </div>
    <div class="flex flex-col space-y-7">
      <a href="#" class="text-gray-300 hover:text-white">Discord</a>
    </div>
    <div class="flex flex-col">
      <a href="https://github.com/MarkAguirre26" class="text-gray-300 hover:text-white">Github</a>
    </div>
  </div>
</footer>
